{% extends "FrontEndFiles/base.html" %}

{% load static %}

{% block main %}
<div class="row row-space">
	<div class="col-6">
		<h2>Fale Conosco</h2>
		<form>
			<div class="form-group">
				<label for="my-input">Nome</label>
				<input id="my-input" class="form-control" type="text" placeholder="Ex: John Doe">
			</div>
			<div class="form-group">
				<label for="my-input">E-mail</label>
				<input id="my-input" class="form-control" type="text" placeholder="example@example.com">
			</div>
			<div class="form-group">
				<label for="my-input">Mensagem</label>
				<textarea id="my-input" class="form-control" rows="14"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>
	<div class="col-6">
		Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. 
		Vivamus sit amet nibh non tellus tristique	interdum. Quem num gosta di mé,
		boa gentis num é. Diuretics paradis num copo é motivis de denguis. Per 
		aumento de cachacis, eu reclamis.
		Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. 
		Quem manda na minha terra sou euzis! Viva Forevis aptent taciti sociosqu ad
		litora torquent. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis
		que	eu levo!
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.
		731404289432!2d-43.42684998540462!3d-22.738222637593562!2m3!1f0!2f0!3f0!3m2!
		1i1024!2i768!4f13.1!3m3!1m2!1s0x996617ea08969b%3A0xf7071e61f3d1b2fd!2sR.
		+Fl%C3%A1vio+Pereira%2C+75+-+Jardim+America%2C+Belford+Roxo+-+RJ%2C+26140-450!
		5e0!3m2!1spt-BR!2sbr!4v1546702432874"
		width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
		</iframe>
		</div>
	</div>
</div>
{% endblock %}