{% extends "FrontEndFiles/base.html" %}

{% load static %}

{% block main %}
	<div class="row row-space">
		<div class="col-6">
			Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique
			interdum. Quem num gosta di mé, boa gentis num é. Diuretics paradis num copo é motivis de denguis. Per aumento de
			cachacis, eu reclamis.
		</div>
		<div class="col-6">
			Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Quem manda na minha terra sou euzis! Viva
			Forevis aptent taciti sociosqu ad litora torquent. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu
			levo!
		</div>
	</div>
	<div class="row row-space">
		<div class="col-4">
			Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique
			interdum. Quem num gosta di mé, boa gentis num é. Diuretics paradis num copo é motivis de denguis. Per aumento de
			cachacis, eu reclamis.
		</div>
		<div class="col-4">
			<img src="{% static 'img/logo.png' %}" class="rounded mx-auto d-block" alt="Logo">
		</div>
		<div class="col-4">
			Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Quem manda na minha terra sou euzis! Viva
			Forevis aptent taciti sociosqu ad litora torquent. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
			eu
			levo!
		</div>
	</div>
	<div class="row row-space">
		<div class="col-6">
			Mussum Ipsum, cacilds vidis litro abertis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique
			interdum. Quem num gosta di mé, boa gentis num é. Diuretics paradis num copo é motivis de denguis. Per aumento de
			cachacis, eu reclamis.
		</div>
		<div class="col-6">
			Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Quem manda na minha terra sou euzis! Viva
			Forevis aptent taciti sociosqu ad litora torquent. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que
			eu
			levo!
		</div>
	</div>
{% endblock main %}	