<div class="row row-space bg-dark text-white">
    <div class="col-12">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" href="{% url 'website_home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'website_planos' %}">Planos</a>
            <a class="nav-item nav-link" href="{% url 'website_sobre' %}">Sobre</a>
            <a class="nav-item nav-link" href="{% url 'website_servico' %}">Servico</a>
            <a class="nav-item nav-link" href="{% url 'website_contato' %}">Contato</a>
            <a class="nav-item nav-link" href="{% url 'website_sistema' %}">Sistema</a>
        </nav>
    </div>
</div>
