<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Estacionamento 24 horas - Sobre</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Estacionamento 24 horas - Empresa modelo">
	<meta name="keywords" content="Estacionamento, 24 horas, carros, motos, fácil acesso, sobre, empresa">
	<meta name="author" content="Nome da Empresa">
	<meta name="robots" content="index, follow">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<img src="img/logo.png" alt="Estacionamento 24 horas logo" width="100" height="200">
		<p id="logo">Estacionamento 24 horas</p>
		<p>Slogan da Empresa Aqui</p>
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="serviços.html">Serviços</a></li>
			<li><a href="sobre.html">Sobre</a></li>
			<li><a href="planos.html">Planos</a></li>
			<li><a href="contatos.html">Contatos</a></li>
		</ul>
	</nav>

	<main>
		<h1>Conheça nossa história</h1>
		<section>
		<h2>Saiba mais sobre nós</h2>
			<div id="image1">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dolor sit amet tortor malesuada dignissim auctor ac libero. Vivamus laoreet, odio non condimentum lobortis, leo enim accumsan nunc, in sagittis ante massa quis risus. Phasellus sodales libero sed lacus venenatis, a ultrices eros luctus. Fusce sit amet porttitor felis, vitae volutpat ligula. In sagittis, augue non vulputate feugiat, odio lectus dapibus tortor, vitae finibus lacus nisi et nibh. Ut ornare est eget maximus finibus. Suspendisse sollicitudin enim risus, eget interdum massa ultricies a.</p>
				<img src="img/parking.png" alt="Sobre" width="100" height="200">
			</div>
		</section>
	</main>
	<footer>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="serviços.html">Serviços</a></li>
				<li><a href="sobre.html">Sobre</a></li>
				<li><a href="planos.html">Planos</a></li>
				<li><a href="contatos.html">Contatos</a></li>
			</ul>
		</nav>
		<section id="copyright">
			<h2>Direitos autorais</h2>
			<p>Copyright - Todos os direitos reservados | Desenvolvido por Samuel Sousa Pereira</p>
		</section>
	</footer>
</body>
</html>